<div *ngIf="isDisplayed()" class="reward-window">
    <div class="reward-frame">
        <h1>Résumé et récompense</h1>
        <ul>
            <li><img src="assets/images/icons/gem.png"><span class="x">x</span><span class="x-count">{{ gameState.gem - gameStartingResources.gem }}</span></li>
            <li><img src="assets/images/icons/stone.png"><span class="x">x</span><span class="x-count">{{ gameState.stone - gameStartingResources.stone }}</span></li>
            <li><img src="assets/images/icons/wood.png"><span class="x">x</span><span class="x-count">{{ gameState.wood - gameStartingResources.wood }}</span></li>
            <li [ngStyle]="{'color': gameState.structure - gameStartingResources.structure < 0 ? 'red' : ''}">{{ gameState.structure - gameStartingResources.structure }}&nbsp;<img src="assets/images/icons/heart-1.png"></li>
        </ul>
        <p *ngIf="gameState.displaySubtype === 'elite'">
            Relique récupérée&nbsp;:
            <img
                src="assets/images/sprites/relics/{{relicGain.name}}.png"
            >
        </p>
        <button (click)="returnToMap()">Retour à la carte</button>
    </div>
</div>