<app-information-frame
    [informationFrame]="informationFrame"
    [isCostDisplayed]="true"
></app-information-frame>
<app-map-header
    *ngIf="!isLoadoutDisplayed"
    [gameState]="gameState"
></app-map-header>
<app-map-choices
    *ngIf="!isLoadoutDisplayed"
    [gameState]="gameState"
    (goToEventEmitter)="onGoToEventReceive($event)"
></app-map-choices>
<app-loadout-display
    [gameState]="gameState"
    [allBuildings]="allBuildings"
    [allTowers]="allTowers"
    [allRelics]="allRelics"
    [isLoadoutDisplayed]="isLoadoutDisplayed"
    (loadoutEmitter)="onLoadoutReceive()"
    (informationOfObjectEmitter)="onInformationOfObjectReceive($event)"
></app-loadout-display>