<div *ngIf="display === ''">
    <app-home-title></app-home-title>
    <app-home-choices (buttonSelectionEmitter)="onButtonSelectionReceive($event)"></app-home-choices>
    <app-home-tips></app-home-tips>
    <app-home-settings></app-home-settings>
</div>

<app-information-frame
    [informationFrame]="informationFrame"
></app-information-frame>

<app-home-loadout
    *ngIf="display === 'loadout'"
    [buildings]="buildings"
    [towers]="towers"
    [powers]="powers"
    (closeLoadoutEmitter)="onCloseReceive()"
    (launchGameEmitter)="onLaunchGameReceive($event)"
    (buildDisplayEmitter)="onBuildDisplayReceive($event)"
></app-home-loadout>

<app-home-background
    *ngIf="display === 'background'"
    (closeBackgroundEmitter)="onCloseReceive()"
></app-home-background>