<div *ngIf="display === ''">
    <app-home-title></app-home-title>
    <app-home-choices (buttonSelectionEmitter)="onButtonSelectionReceive($event)"></app-home-choices>
    <p style="text-align: center;">
        Séquence d’activation&nbsp;:
        <br>
        Vous > constructions > monstres.
    </p>
    <app-home-settings></app-home-settings>
</div>

<app-information-frame
    [informationFrame]="informationFrame"
></app-information-frame>

<app-home-loadout
    *ngIf="display === 'loadout'"
    [buildings]="buildings"
    [towers]="towers"
    (closeLoadoutEmitter)="onCloseReceive()"
    (launchGameEmitter)="onLaunchGameReceive($event)"
    (buildDisplayEmitter)="onBuildDisplayReceive($event)"
></app-home-loadout>

<app-home-background
    *ngIf="display === 'background'"
    (closeBackgroundEmitter)="onCloseReceive()"
></app-home-background>