h2 {
    position: absolute;
    z-index: 3;
    width: 100%;
}

img {
    position: absolute;
    z-index: 2;
}

p {
    position: absolute;
    z-index: 1;
    font-size: 0.5em;
    //white-space: nowrap;
}

.map-header {
    position: relative;
}

.map-plan {
    background-image: url("../../../../../assets/images/map/map.jpg");
    background-size: 96px;
    image-rendering: pixelated;
    height: 20vh;
}