h2 {
    position: absolute;
    width: 100%;
}
.map-plan {
    background-image: url("../../../../../assets/images/map/map.jpg");
    background-size: 96px;
    image-rendering: pixelated;
    height: 20vh;
}