button {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 1.25em;
}

.highlighted {
    filter: hue-rotate(90deg);
}

.lowlighted {
    filter: brightness(0.2);
}