<app-information-frame
    [informationFrame]="informationFrame"
    [isCostDisplayed]="true"
></app-information-frame>
<button *ngIf="!isLoadoutDisplayed" (click)="backToMap()">Retour à la carte</button>
<app-seller-products
    *ngIf="!isLoadoutDisplayed"
    [gameState]="gameState"
    [buildings]="buildings"
    [towers]="towers"
    [buildingsToSell]="buildingsToSell"
    [towersToSell]="towersToSell"
    (informationOfObjectEmitter)="onInformationOfObjectReceive($event)"
></app-seller-products>
<app-seller-sacrifice
    *ngIf="!isLoadoutDisplayed"
    [gameState]="gameState"
    [sacrificeGemGain]="sacrificeGemGain"
    (sacrificeEmitter)="onSacrificeReceive()"
></app-seller-sacrifice>
<app-loadout-display
    [gameState]="gameState"
    [isLoadoutDisplayed]="isLoadoutDisplayed"
    (loadoutEmitter)="onLoadoutReceive()"
    (informationOfObjectEmitter)="onInformationOfObjectReceive($event)"
></app-loadout-display>