<button (click)="closeLoadout()">Close loadout</button>

<div class="home-loadout">
    <div class="tower-carousel">
        <img src="assets/images/icons/left-arrow.png">
        <img src="assets/images/icons/right-arrow.png">
        <div class="tower-list">
            <img src="assets/images/sprites/tower/ram.png">
        </div>
    </div>
    <div class="tower-stat">
        Tower stats
    </div>
    <div class="game-difficulty">
        <button>Normal</button>
        <button>Difficile</button>
    </div>
    <div class="game-state">
        Game stats slider
    </div>
    <div class="tower-selected">
        Tower selected
    </div>
</div>

<button (click)="launchGame()">Launch game</button>