<button (click)="closeLoadout()">Close loadout</button>

<div class="home-loadout">
    <p>
        Choisissez les caractéristiques de votre partie&nbsp;:
    </p>
    <h2>Difficulté</h2>
    <div class="game-difficulty">
        <button (click)="setGameStateToDifficulty(1)" [ngStyle]="{'filter' : gameStateChoice.difficulty === 1 ? 'hue-rotate(90deg)' : ''}">Normal</button>
        <button (click)="setGameStateToDifficulty(2)" [ngStyle]="{'filter' : gameStateChoice.difficulty === 2 ? 'hue-rotate(90deg)' : ''}">Difficile</button>
    </div>

    <h2>Règlages précis</h2>

    <button (click)="startingResourcesDisplayed = !startingResourcesDisplayed" class="detail-button" [ngClass]="startingResourcesDisplayed ? 'button-selected' : ''"><img src="assets/images/icons/wood.png"> Ressources de départ</button>
    <table *ngIf="startingResourcesDisplayed">
        <tbody>
            <tr>
                <td><img src="assets/images/icons/heart-1.png"> Structure</td><td><button (click)="changeGameState('structure',-1)">-</button></td><td class="quantity">{{gameStateChoice.structure}}</td><td><button (click)="changeGameState('structure',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/stone.png"> Pierre</td><td><button (click)="changeGameState('stone',-1)">-</button></td><td class="quantity">{{gameStateChoice.stone}}</td><td><button (click)="changeGameState('stone',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/wood.png"> Bois</td><td><button (click)="changeGameState('wood',-1)">-</button></td><td class="quantity">{{gameStateChoice.wood}}</td><td><button (click)="changeGameState('wood',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/gem.png"> Gemme</td><td><button (click)="changeGameState('gem',-1)">-</button></td><td class="quantity">{{gameStateChoice.gem}}</td><td><button (click)="changeGameState('gem',+1)">+</button></td>
            </tr>
        </tbody>
    </table>

    <button (click)="availableEventsDisplayed = !availableEventsDisplayed" class="detail-button" [ngClass]="availableEventsDisplayed ? 'button-selected' : ''"><img src="assets/images/icons/elite.gif"> Évènements disponibles</button>
    <table *ngIf="availableEventsDisplayed">
        <tbody>
            <tr>
                <td><img src="assets/images/icons/battle.gif"> Bataille</td><td><button (click)="changeGameState('battle',-1)">-</button></td><td class="quantity">{{ gameStateChoice.mapState.battleCount }}</td><td><button (click)="changeGameState('battle',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/shelter.gif"> Abris</td><td><button (click)="changeGameState('shelter',-1)">-</button></td><td class="quantity">{{ gameStateChoice.mapState.shelterCount }}</td><td><button (click)="changeGameState('shelter',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/elite.gif"> Elite</td><td><button (click)="changeGameState('elite',-1)">-</button></td><td class="quantity">{{ gameStateChoice.mapState.eliteCount }}</td><td><button (click)="changeGameState('elite',+1)">+</button></td>
            </tr>
            <tr>
                <td><img src="assets/images/icons/seller.gif"> Marchand</td><td><button (click)="changeGameState('seller',-1)">-</button></td><td class="quantity">{{ gameStateChoice.mapState.sellerCount }}</td><td><button (click)="changeGameState('seller',+1)">+</button></td>
            </tr>
        </tbody>
    </table>

    <button (click)="blueprintsDisplayed = !blueprintsDisplayed" class="detail-button" [ngClass]="blueprintsDisplayed ? 'button-selected' : ''"><img src="assets/images/sprites/towers/wall-blueprint.png"> Schémas de construction</button>
    <div *ngIf="blueprintsDisplayed">
        <div class="blueprints-carousel">
            <img (click)="buildingListMove('blueprint-list', 'left')" src="assets/images/icons/left-arrow.png">
            <div class="blueprint-list">
                <img
                    *ngFor="let build of buildings"
                    src="assets/images/sprites/buildings/{{build.image}}-blueprint.png"
                    [alt]="build.image"
                    (click)="buildStatDisplay(build.image, 'building')"
                    (dragend)="onBlueprintDragEnd($event)"
                    >
                <img
                    *ngFor="let tower of towers"
                    src="assets/images/sprites/towers/{{tower.image}}-blueprint.png"
                    [alt]="tower.image"
                    (click)="buildStatDisplay(tower.image, 'building')"
                    (dragend)="onBlueprintDragEnd($event)"
                    >
            </div>
            <img (click)="buildingListMove('blueprint-list', 'right')" src="assets/images/icons/right-arrow.png">
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
        <div class="blueprints-selected">
            <div
                *ngFor="let div of [].constructor(gameStateChoice.buildingsBlueprints.length); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <img *ngIf="gameStateChoice.buildingsBlueprints.length > i" src="assets/images/sprites/buildings/{{gameStateChoice.buildingsBlueprints[i]}}-blueprint.png">
                <br>
                <button *ngIf="gameStateChoice.buildingsBlueprints.length > i" (click)="removeBlueprint('building',i)">Remove</button>
            </div>
            <div
                *ngFor="let div of [].constructor(gameStateChoice.towersBlueprints.length); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <img *ngIf="gameStateChoice.towersBlueprints.length > i" src="assets/images/sprites/towers/{{gameStateChoice.towersBlueprints[i]}}-blueprint.png">
                <br>
                <button *ngIf="gameStateChoice.towersBlueprints.length > i" (click)="removeBlueprint('tower',i)">Remove</button>
            </div>
            <div (dragenter)="onBlueprintCellEnter()">
                <p>Drag<br>here !</p>
            </div>
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
    </div>

    <button (click)="towersSelectionDisplayed = !towersSelectionDisplayed" class="detail-button" [ngClass]="towersSelectionDisplayed ? 'button-selected' : ''"><img src="assets/images/sprites/towers/ram.png"> Tours de départ</button>  
    <div *ngIf="towersSelectionDisplayed">
        <div class="towers-carousel">
            <img (click)="buildingListMove('tower-list', 'left')" src="assets/images/icons/left-arrow.png">
            <div class="tower-list">
                <img
                    *ngFor="let tower of towers"
                    src="assets/images/sprites/towers/{{tower.image}}.png"
                    [alt]="tower.image"
                    (click)="buildStatDisplay(tower.image, 'tower')"
                    (dragend)="onDragEnd($event)"
                    >
            </div>
            <img (click)="buildingListMove('tower-list', 'left')" src="assets/images/icons/right-arrow.png">
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
        <div class="towers-selected">
            <div
                *ngFor="let div of [].constructor(gameStateChoice.towersUnlocked.length+1); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <p *ngIf="gameStateChoice.towersUnlocked.length <= i">Drag<br>here !</p>
                <img *ngIf="gameStateChoice.towersUnlocked.length > i" src="assets/images/sprites/towers/{{gameStateChoice.towersUnlocked[i]}}.png">
                <br>
                <button *ngIf="gameStateChoice.towersUnlocked.length > i" (click)="removeTower(i)">Remove</button>
            </div>
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
    </div>

    <button (click)="powersSelectionDisplayed = !powersSelectionDisplayed" class="detail-button" [ngClass]="powersSelectionDisplayed ? 'button-selected' : ''"><img src="assets/images/sprites/powers/dash.png"> Pouvoir</button>  
    <div *ngIf="powersSelectionDisplayed" class="powers-carousel">
        <button *ngFor="let power of powers" (click)="powerSelection(power.name)" class="power-card" [ngClass]="power.name === gameStateChoice.power.name ? 'power-card-selected' : ''">
            <img src="assets/images/sprites/powers/{{power.name}}.png">
            <span style="font-weight: bold;"> {{ power.title }}</span><br>
            {{ power.description }}<br>
            <span style="font-weight: bold;">Temps de recharge&nbsp;:</span> {{ power.maxPowerCoolDown }}
        </button>
    </div>

    <div style="text-align: center;">
        <p>
            Temps de jeu approximatif&nbsp;:<br>
            {{ estimatedPlayTime() }} minutes.
        </p>
        <button (click)="launchGame()">Larguer les amarres&nbsp;!</button>
    </div>
</div>