<button (click)="closeLoadout()">Close loadout</button>

<div class="home-loadout">
    <p>
        Choisissez les caractéristiques de votre partie&nbsp;:
    </p>
    <h2>Difficulté</h2>
    <div class="game-difficulty">
        <button (click)="setGameStateToDifficulty(1)">Normal</button>
        <button (click)="setGameStateToDifficulty(2)">Difficile</button>
    </div>

    <h2>Règlages précis</h2>

    <button (click)="startingResourcesDisplayed = !startingResourcesDisplayed" class="detail-button">Ressources de départ</button>
    <table *ngIf="startingResourcesDisplayed">
        <tbody>
            <tr>
                <td>Structure</td><td><button (click)="changeGameState('structure',-1)">-</button></td><td>{{gameStateChoice.structure}}</td><td><button (click)="changeGameState('structure',+1)">+</button></td>
            </tr>
            <tr>
                <td>Pierre</td><td><button (click)="changeGameState('stone',-1)">-</button></td><td>{{gameStateChoice.stone}}</td><td><button (click)="changeGameState('stone',+1)">+</button></td>
            </tr>
            <tr>
                <td>Bois</td><td><button (click)="changeGameState('wood',-1)">-</button></td><td>{{gameStateChoice.wood}}</td><td><button (click)="changeGameState('wood',+1)">+</button></td>
            </tr>
        </tbody>
    </table>

    <button (click)="availableEventsDisplayed = !availableEventsDisplayed" class="detail-button">Évènements disponibles</button>
    <table *ngIf="availableEventsDisplayed">
        <tbody>
            <tr>
                <td>Bataille</td><td><button (click)="changeGameState('battle',-1)">-</button></td><td>{{ gameStateChoice.mapState.battleCount }}</td><td><button (click)="changeGameState('battle',+1)">+</button></td>
            </tr>
            <tr>
                <td>Camp</td><td><button (click)="changeGameState('camp',-1)">-</button></td><td>{{ gameStateChoice.mapState.campCount }}</td><td><button (click)="changeGameState('camp',+1)">+</button></td>
            </tr>
            <tr>
                <td>Elite</td><td><button (click)="changeGameState('elite',-1)">-</button></td><td>{{ gameStateChoice.mapState.eliteCount }}</td><td><button (click)="changeGameState('elite',+1)">+</button></td>
            </tr>
            <tr>
                <td>Marcand</td><td><button (click)="changeGameState('seller',-1)">-</button></td><td>{{ gameStateChoice.mapState.sellerCount }}</td><td><button (click)="changeGameState('seller',+1)">+</button></td>
            </tr>
        </tbody>
    </table>

    <button (click)="blueprintsDisplayed = !blueprintsDisplayed" class="detail-button">Schémas de construction</button>
    <div *ngIf="blueprintsDisplayed">
        <div class="blueprints-carousel">
            <img (click)="buildingListMove('blueprint-list', 'left')" src="assets/images/icons/left-arrow.png">
            <div class="blueprint-list">
                <img
                    *ngFor="let build of buildings"
                    src="assets/images/sprites/building/{{build.image}}-blueprint.png"
                    [alt]="build.image"
                    (click)="buildStatDisplay(build.image, 'building')"
                    (dragend)="onBlueprintDragEnd($event)"
                    >
                <img
                    *ngFor="let tower of towers"
                    src="assets/images/sprites/tower/{{tower.image}}-blueprint.png"
                    [alt]="tower.image"
                    (click)="buildStatDisplay(tower.image, 'building')"
                    (dragend)="onBlueprintDragEnd($event)"
                    >
            </div>
            <img (click)="buildingListMove('blueprint-list', 'right')" src="assets/images/icons/right-arrow.png">
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
        <div class="blueprints-selected">
            <div
                *ngFor="let div of [].constructor(gameStateChoice.buildingsBlueprints.length); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <img *ngIf="gameStateChoice.buildingsBlueprints.length > i" src="assets/images/sprites/building/{{gameStateChoice.buildingsBlueprints[i]}}-blueprint.png">
                <br>
                <button *ngIf="gameStateChoice.buildingsBlueprints.length > i" (click)="removeBlueprint('building',i)">Remove</button>
            </div>
            <div
                *ngFor="let div of [].constructor(gameStateChoice.towersBlueprints.length); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <img *ngIf="gameStateChoice.towersBlueprints.length > i" src="assets/images/sprites/tower/{{gameStateChoice.towersBlueprints[i]}}-blueprint.png">
                <br>
                <button *ngIf="gameStateChoice.towersBlueprints.length > i" (click)="removeBlueprint('tower',i)">Remove</button>
            </div>
            <div (dragenter)="onBlueprintCellEnter()">
                <p>Drag<br>here !</p>
            </div>
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
    </div>

    <button (click)="towersSelectionDisplayed = !towersSelectionDisplayed" class="detail-button">Tours de départ</button>    
    <div *ngIf="towersSelectionDisplayed">
        <div class="towers-carousel">
            <img (click)="buildingListMove('tower-list', 'left')" src="assets/images/icons/left-arrow.png">
            <div class="tower-list">
                <img
                    *ngFor="let tower of towers"
                    src="assets/images/sprites/tower/{{tower.image}}.png"
                    [alt]="tower.image"
                    (click)="buildStatDisplay(tower.image, 'tower')"
                    (dragend)="onDragEnd($event)"
                    >
            </div>
            <img (click)="buildingListMove('tower-list', 'left')" src="assets/images/icons/right-arrow.png">
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
        <div class="towers-selected">
            <div
                *ngFor="let div of [].constructor(gameStateChoice.towersUnlocked.length+1); let i = index"
                (dragenter)="onDragEnter(i)"
                >
                <p *ngIf="gameStateChoice.towersUnlocked.length <= i">Drag<br>here !</p>
                <img *ngIf="gameStateChoice.towersUnlocked.length > i" src="assets/images/sprites/tower/{{gameStateChoice.towersUnlocked[i]}}.png">
                <br>
                <button *ngIf="gameStateChoice.towersUnlocked.length > i" (click)="removeTower(i)">Remove</button>
            </div>
        </div>
        <div class="remove-selection" (dragenter)="onDragRemoveSelection()"></div>
    </div>

    <div style="text-align: center;">
        <p>Temps de jeu approximatif&nbsp;: {{ estimatedPlayTime() }} min.</p>
        <button (click)="launchGame()">Launch game</button>
    </div>
</div>