img {
    height: 64px;
    width: 64px;
    image-rendering: pixelated;
}

.towers-carousel {
    display: flex;
}

.game-state table{
    margin: auto;
}

th{
    text-align: center;
}

.towers-selected {
    display: flex;
    justify-content: center;
    gap: 1em;
    div {
        height: 68px;
        width: 68px;
        border: 2px solid black;
    }
}