<app-popup
    *ngIf="popupMessage.length > 0"
    [popupMessage]="popupMessage"
    (closePopupEmitter)="onClosePopupReceive()"
></app-popup>
<app-information-frame
    [informationFrame]="informationFrame"
    [isCostDisplayed]="false"
    ></app-information-frame>
<app-battle-spawn-strip [gameState]="gameState"></app-battle-spawn-strip>
<app-battle-constructions
    [gameState]="gameState"
    [isCharacterOnTheGrid]="isCharacterOnTheGrid"
    (dragEndEmitter)="onDragEndReceive($event)"
    (clickConstructionEmitter)="onClickConstructionReceive($event)"
></app-battle-constructions>
<app-battle-grid
    [gameState]="gameState"
    [bubbles]="bubbles"
    (clickCellPositionEmitter)="onClickCellPositionReceive($event)"
    (dragPositionEmitter)="onDragPositionReceive($event)"
    ></app-battle-grid>
<app-battle-character
    [gameState]="gameState"
    [isCharacterOnTheGrid]="isCharacterOnTheGrid"
    [isPowerSelected]="isPowerSelected"
    (changeLifeDisplayEmitter)="onChangeLifeDisplayReceive()"
    (actionEmitter)="onActionReceive($event)"
    (readyForBattleEmitter)="onReadyForBattleReceive()"
    (usePowerEmitter)="onUsePowerReceive()"
></app-battle-character>