<app-battle-spawn-strip [gameState]="gameState"></app-battle-spawn-strip>
<app-battle-constructions
    [gameState]="gameState"
    [isCharacterOnTheGrid]="isCharacterOnTheGrid"
    (dragEndEmitter)="onDragEndReceive($event)"
></app-battle-constructions>
<app-battle-grid
    [gameState]="gameState"
    (clickCellPositionEmitter)="onClickCellPositionReceive($event)"
    (dragPositionEmitter)="onDragPositionReceive($event)"
    ></app-battle-grid>
<app-battle-character
    [gameState]="gameState"
    (actionEmitter)="onActionReceive($event)"
></app-battle-character>