.information-frame {
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid black;
    background-color: white;
    z-index: 500;
}

p {
    text-align: center;
}

img {
    width: 64px;
    image-rendering: pixelated;
}