<div *ngIf="informationFrame.type" class="information-frame">
    <h2>{{ informationFrame.title }}</h2>
    <p><img src="assets/images/sprites/{{informationFrame.type}}s/{{informationFrame.image}}.png"></p>
    <table>
        <tr>
            <td>Life</td><td>{{informationFrame.life}}</td>
        </tr>
        <tr *ngIf="informationFrame.damage">
            <td>Damage</td><td>{{informationFrame.damage}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'building'">
            <td>Efficiency</td><td>{{informationFrame.efficiency}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'tower'">
            <td>Séquence</td><td>
                <span *ngFor="let s of [].constructor(informationFrame.sequence.length); let i = index" [ngStyle]="{'color': i === informationFrame.step ? 'red' : ''}">
                    {{informationFrame.sequence[i]}}
                </span>
            </td>
        </tr>
        <tr *ngIf="informationFrame.type === 'tower'">
            <td>Tile Targeted</td><td>{{informationFrame.tileTargeted}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'enemy'">
            <td>Moves</td>
            <td>
                <span *ngFor="let move of [].constructor(informationFrame.moves.length); let i = index" [ngStyle]="{'color': i === informationFrame.currentMoveStep ? 'red' : ''}">
                    {{informationFrame.moves[i]}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Description</td><td>{{informationFrame.description}}</td>
        </tr>
        <tr *ngIf="isCostDisplayed">
            <td>Coût en gemmes</td><td>{{informationFrame.gemCost}}</td>
        </tr>
        <tr *ngIf="isCostDisplayed">
            <td>Coût en stone</td><td>{{informationFrame.stoneCost}}</td>
        </tr>
        <tr *ngIf="isCostDisplayed">
            <td>Coût en wood</td><td>{{informationFrame.woodCost}}</td>
        </tr>
        <tr>
            <td>Type</td><td>{{informationFrame.type}}</td>
        </tr>
    </table>
    <p><button (click)="close()">Close frame</button></p>
</div>