.loadout {
    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    }

    img {
        width: 64px;
        image-rendering: pixelated;
    }
}