<div class="resources-buildings">
    <div>
        <img src="assets/images/icons/stone.png"><span class="x">x</span><span class="x-count">{{ gameState.stone }}</span>
    </div>
    <div>
        <img src="assets/images/icons/wood.png"><span class="x">x</span><span class="x-count">{{ gameState.wood }}</span>
    </div>
    <div>
        <img src="assets/images/icons/gem.png"><span class="x">x</span><span class="x-count">{{ gameState.gem }}</span>
    </div>
    <div>
        <img src="assets/images/icons/heart-1.png"><span class="x">x</span><span class="x-count">{{ gameState.structure }}</span>
    </div>
    <div>
        <button (click)="changeLoadoutDisplay()">{{ isLoadoutDisplayed ? 'Masquer' : 'Afficher' }} les équipements</button>
    </div>
</div>

<div *ngIf="isLoadoutDisplayed" class="loadout">
    <h2 *ngIf="gameState.buildingsUnlocked.length > 0">Utilitaires</h2>
    <div>
        <div
            *ngFor="let build of gameState.buildingsUnlocked"
            (click)="displayInfo(build, 'building')"
            >
            <img src="assets/images/sprites/buildings/{{build}}.png">
        </div>
    </div>
    <h2 *ngIf="gameState.towersUnlocked.length > 0">Tours</h2>
    <div>
        <div
            *ngFor="let tower of gameState.towersUnlocked"
            (click)="displayInfo(tower, 'tower')"
            >
            <img src="assets/images/sprites/towers/{{tower}}.png">
        </div>
    </div>
    <h2 *ngIf="gameState.relics.length > 0">Reliques</h2>
    <div>
        <div
            *ngFor="let relic of gameState.relics"
            (click)="displayInfo(relic.name, 'relic')"
        >
            <img src="assets/images/sprites/relics/{{relic.name}}.png">
        </div>
    </div>
    <h2 *ngIf="gameState.buildingsBlueprints.length + gameState.towersBlueprints.length > 0">Schémas</h2>
    <div>
        <div
            *ngFor="let bb of gameState.buildingsBlueprints"
            (click)="displayInfo(bb, 'building')"
        >
            <img src="assets/images/sprites/buildings/{{bb}}-blueprint.png">
        </div>
        <div
            *ngFor="let tb of gameState.towersBlueprints"
            (click)="displayInfo(tb, 'tower')"
        >
            <img src="assets/images/sprites/towers/{{tb}}-blueprint.png">
        </div>
    </div>
</div>

<div style="text-align: center;"><button (click)="displayAllLoadout()">{{ isAllLoadoutDisplayed ? "Masquer" : "Afficher" }} tous les équipements</button></div>

<div *ngIf="isAllLoadoutDisplayed" class="loadout-all-objects-existing">
    <h2>Utilitaires</h2>
    <div>
        <div
            *ngFor="let building of allBuildings"
            (click)="displayInfo(building.name, 'building')"
            >
            <img src="assets/images/sprites/buildings/{{building.name}}.png">
        </div>
    </div>
    <h2>Tours</h2>
    <div>
        <div
            *ngFor="let tower of allTowers"
            (click)="displayInfo(tower.name, 'tower')"
            >
            <img src="assets/images/sprites/towers/{{tower.name}}.png">
        </div>
    </div>
    <h2>Reliques</h2>
    <div>
        <div
            *ngFor="let relic of allRelics"
            (click)="displayInfo(relic.name, 'relic')"
            >
            <img src="assets/images/sprites/relics/{{relic.name}}.png">
        </div>
    </div>
</div>