.loadout, .loadout-all-objects-existing {
    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    }

    img {
        width: 64px;
        image-rendering: pixelated;
    }
}

.resources-buildings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    img {
        width: 32px;
        image-rendering: pixelated;
    }
}