img {
    display: block;
    margin: auto;
    width: 64px;
    image-rendering: pixelated;
}
p {
    text-align: center;
    img {
        display: inline;
        width: 32px;
    }
}

.builds {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}