.power-selected {
    filter: hue-rotate(90deg);
    img {
        filter: hue-rotate(-90deg);
    }
}

.char-resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

div {
    text-align: center;
}

img {
    width: 32px;
    image-rendering: pixelated;
}