<div class="char-info">
    <p><img src="assets/images/icons/heart-1.png"><span class="x">x</span><span class="x-count">{{ gameState.structure }}</span></p>
    <p><img src="assets/images/icons/wood.png"><span class="x">x</span><span class="x-count">{{ gameState.wood}}</span></p>
    <p><img src="assets/images/icons/stone.png"><span class="x">x</span><span class="x-count">{{ gameState.stone }}</span></p>
    <button (click)="changeLifeDisplay()">{{ gameState.isBattleLifeDisplayed ? "Cacher" : "Afficher" }} la résistance</button>
    <button
        *ngIf="isCharacterOnTheGrid && gameState.status !== 'ready'"
        (click)="readyForBattle();"
        >Lancer le combat</button>
    <div *ngIf="gameState.status === 'ready'">
        <p *ngIf="gameState.koCounter > 0">ko&nbsp;: {{ gameState.koCounter }} étapes</p>
        <button (click)="wait()">Attendre</button>
        <p>Power progress&nbsp;: {{ gameState.currentPowerCoolDown }}/{{ gameState.power.maxPowerCoolDown }}</p>
        <button
            *ngIf="gameState.currentPowerCoolDown === gameState.power.maxPowerCoolDown && gameState.koCounter === 0"
            (click)="usePower()"
            [ngClass]="isPowerSelected ? 'power-selected' : ''"
            ><img src="assets/images/sprites/powers/{{ gameState.power.name }}.png"></button>
        <p *ngIf="isPowerSelected">{{ gameState.power.title }}&nbsp;: {{ gameState.power.description }}</p>
    </div>
</div>