<div class="char-info">

    <div class="char-resources">
        <p><img src="assets/images/icons/heart-1.png"><span class="x">x</span><span class="x-count">{{ gameState.structure }}</span></p>
        <p><img src="assets/images/icons/wood.png"><span class="x">x</span><span class="x-count">{{ gameState.wood}}</span></p>
        <p><img src="assets/images/icons/stone.png"><span class="x">x</span><span class="x-count">{{ gameState.stone }}</span></p>
        <p><img src="assets/images/icons/gem.png"><span class="x">x</span><span class="x-count">{{ gameState.gem}}</span></p>
    </div>

    <div><button (click)="changeLifeDisplay()">{{ gameState.isBattleLifeDisplayed ? "Cacher" : "Afficher" }}&nbsp;<img src="assets/images/icons/heart-1.png"></button></div>

    <div>
        <button
            *ngIf="isCharacterOnTheGrid && gameState.status === 'preparation'"
            (click)="readyForBattle();"
        >
            Lancer le combat
        </button>
    </div>

    <div *ngIf="gameState.status !== 'preparation'" class="char-actions">
        <p *ngIf="gameState.koCounter > 0">ko&nbsp;: {{ gameState.koCounter }} étapes</p>
        <button (click)="wait()" [disabled]="gameState.status !== 'preparation' && gameState.status !== 'player'">Attendre</button>
        <p>Power progress&nbsp;: {{ gameState.currentPowerCoolDown }}/{{ gameState.power.maxPowerCoolDown }}</p>
        <button
            (click)="usePower()"
            [ngClass]="isPowerSelected ? 'power-selected' : ''"
            [disabled]="gameState.currentPowerCoolDown < gameState.power.maxPowerCoolDown"
        >
            <img src="assets/images/sprites/powers/{{ gameState.power.name }}.png">
        </button>
        <p *ngIf="isPowerSelected">{{ gameState.power.title }}&nbsp;: {{ gameState.power.description }}</p>
    </div>

</div>