<div class="map-choices">
    <h2>Évènements obligatoires</h2>
    <button (click)="goToEvent('boss')" *ngIf="gameState.mapState.battleCount + gameState.mapState.eliteCount === 0">
        Dernier camp
    </button>
    <button (click)="goToEvent('battle')" *ngIf="gameState.mapState.battleCount !== 0">
        <img src="assets/images/icons/battle.gif">
        Camp de monstres <span class="x">x</span><span class="count">{{gameState.mapState.battleCount}}</span>
    </button>
    <button (click)="goToEvent('elite')" *ngIf="gameState.mapState.eliteCount !== 0">
        <img src="assets/images/icons/elite.gif">
        Camp d’élites <span class="x">x</span><span class="count">{{gameState.mapState.eliteCount}}</span>
    </button>
    <h2>Évènements facultatifs</h2>
    <button (click)="goToEvent('shelter')" *ngIf="gameState.mapState.shelterCount !== 0">
        <img src="assets/images/icons/shelter.gif">
        Abris <span class="x">x</span><span class="count">{{gameState.mapState.shelterCount}}</span>
    </button>
    <button (click)="goToEvent('seller')" *ngIf="gameState.mapState.sellerCount !== 0">
        <img src="assets/images/icons/seller.gif">
        Marchand <span class="x">x</span><span class="count">{{gameState.mapState.sellerCount}}</span>
    </button>
</div>