<div *ngIf="informationFrame.type" class="information-frame">
    <h2>{{ informationFrame.name }}</h2>
    <p><img src="assets/images/sprites/{{informationFrame.type}}/{{informationFrame.image}}.png"></p>
    <table>
        <tr>
            <td>Life</td><td>{{informationFrame.life}}</td>
        </tr>
        <tr *ngIf="informationFrame.damage">
            <td>Damage</td><td>{{informationFrame.damage}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'building'">
            <td>Efficiency</td><td>{{informationFrame.efficiency}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'tower'">
            <td>State</td><td>{{informationFrame.state}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'tower'">
            <td>Step</td><td>{{informationFrame.step}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'tower'">
            <td>Spot</td><td>{{informationFrame.targetSpot}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'enemy'">
            <td>CurrentMoveStep</td><td>{{informationFrame.currentMoveStep}}</td>
        </tr>
        <tr *ngIf="informationFrame.type === 'enemy'">
            <td>Moves</td><td>{{informationFrame.moves}}</td>
        </tr>
        <tr>
            <td>Description</td><td>{{informationFrame.description}}</td>
        </tr>
        <tr>
            <td>Type</td><td>{{informationFrame.type}}</td>
        </tr>
    </table>
    <p><button (click)="close()">Close frame</button></p>
</div>