<div class="seller-products">
    <div class="seller-builds">
        <div *ngFor="let tower of towersToSell" class="product">
            <img (click)="information(tower.name, 'tower')" src="assets/images/sprites/towers/{{tower.name}}-blueprint.png">
            <p>Coût&nbsp;: <span class="x-count">{{ tower.gemCost }}</span> <img src="assets/images/icons/gem.png"></p>
            <button (click)="learn(tower.name, 'tower')" [disabled]="hasBlueprint(tower.name, 'tower')">Apprendre</button>
        </div>
        <div *ngFor="let build of buildingsToSell" class="product">
            <img (click)="information(build.name, 'building')" src="assets/images/sprites/buildings/{{build.name}}-blueprint.png">
            <p>Coût&nbsp;: <span class="x-count">{{ build.gemCost }}</span> <img src="assets/images/icons/gem.png"></p>
            <button (click)="learn(build.name, 'building')" [disabled]="hasBlueprint(build.name, 'building')">Apprendre</button>
        </div>
    </div>
    <div class="seller-relics">
        <div *ngFor="let relic of relicsToSell" class="product">
            <img (click)="information(relic.name, 'relic')" src="assets/images/sprites/relics/{{relic.name}}.png">
            <p>Coût&nbsp;: <span class="x-count">{{ relic.gemCost }}</span> <img src="assets/images/icons/gem.png"></p>
            <button (click)="buyRelic(relic.name)">Acheter</button>
        </div>
    </div>
</div>
