:root {
    --color-dominant: #a87e54;
    --color-complement: #55b8ce;
    --color-accent: #eb3c27;
    --color-light-accent: #916463;

    --color-error: #a10000;
    --color-valid: #309200;

    --color-special: purple;
    --color-ally: green;
    --color-enemy: red;
}

@font-face {
    font-family: "font-base";
    src: url("assets/fonts/Kenney_Pixel.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-base";
    font-size: 32px;
}

body {
    background-color: var(--color-dominant);
}

button {
    background-color: transparent;
    border: 16px solid transparent;
    border-image: url("assets/images/frame/button.png") 6 repeat;
    image-rendering: pixelated;
    min-width: 56px;
    background-color: #d3bf8f;
}

h1, h2, h3 {
    text-align: center;
    padding: 0.25em;
}