<div>
    <p>
        Vous décollez votre longue oreille duveteuse du sable. Son écoulement et ses vibrations confirment ce que les vents vous avez déjà rapporté&nbsp;: de dangereuses créatures se regroupent. Il vous faut partir dès maintenant, sillonner la région jusqu’à ces regroupements et les attaquer avant qu’ils ne ravagent la région. Votre robuste char-à-voile sera l’ultime rempart contre ces abominations, et vous n’êtes pas assez préparé mais vous devrez fabriquer de nouvelles constructions durant votre court périple pour faire barrage à des ennemis de plus en plus violents.
        <br>
        Arriverez-vous à faire face à ces vagues incessantes de crocs et griffes qui viendront mordre dans votre chair et dans la structure de votre embarcation&nbsp;?
    </p>
    <button (click)="close()">Hissez les voiles&nbsp;!</button>
</div>