<div id="grid">
    <table>
        <tr *ngFor="let line of [].constructor(gameState.grid.length); let r = index">
            <td
                *ngFor="let cell of [].constructor(gameState.grid[r].length); let c = index"
                (click)="onCellClick($event)"
                (dragenter)="onDragEnter($event)"
                (dragleave)="onDragLeave($event)">
                <img
                    *ngIf='gameState.grid[r][c] !== "" '
                    src='assets/images/sprites/{{gameState.grid[r][c].image}}.png'
                    draggable="false">
            </td>
        </tr>
    </table>
</div>