table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px dashed black;
}

img {
    display: block;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    margin: auto;
}

.floor {
    position: relative;
}

.carpet {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.object {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.life {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    td {
        text-align: center;
        vertical-align: bottom;
    }
    img {
        height: calc(5%*(100/16)); // 5 : heart px, 16 : tile px
        width: calc(5%*(100/16));
        display: inline-block;
        margin-right: 1px;
    }
}