<div id="grid">
    <table class="carpet">
        <tr *ngFor="let line of [].constructor(gameState.grid.length); let r = index">
            <td
                *ngFor="let cell of [].constructor(gameState.grid[r].length); let c = index">
                <img src='assets/images/sprites/carpets/{{gameState.grid[r][c].type ? 0 : carpetTiles[r][c]}}.png'>
            </td>
        </tr>
    </table>
    <table class="object">
        <tr *ngFor="let line of [].constructor(gameState.grid.length); let r = index">
            <td
                *ngFor="let cell of [].constructor(gameState.grid[r].length); let c = index"
                (click)="onCellClick($event)"
                (dragenter)="onDragEnter($event)"
                (dragleave)="onDragLeave($event)">
                <img
                    *ngIf="gameState.grid[r][c] !== '' "
                    src="assets/images/sprites/{{gameState.grid[r][c].type}}s/{{gameState.grid[r][c].image}}.png"
                    draggable="false">
            </td>
        </tr>
    </table>
    <table class="life" [ngStyle]="{'visibility': gameState.isBattleLifeDisplayed ? 'visible' : 'hidden'}">
        <tr *ngFor="let line of [].constructor(gameState.grid.length); let r = index">
            <td
                *ngFor="let cell of [].constructor(gameState.grid[r].length); let c = index"
                (click)="onCellClick($event)"
                (dragenter)="onDragEnter($event)"
                (dragleave)="onDragLeave($event)">
                <span *ngIf="gameState.grid[r][c].life">
                    <img
                    *ngFor="let times of [].constructor(heartTimesDisplay(6, gameState.grid[r][c].life))"
                    src='assets/images/icons/heart-6.png'
                    draggable="false">
                    <img
                    *ngFor="let times of [].constructor(heartTimesDisplay(3, gameState.grid[r][c].life))"
                    src='assets/images/icons/heart-3.png'
                    draggable="false">
                    <img
                    *ngFor="let times of [].constructor(heartTimesDisplay(1, gameState.grid[r][c].life))"
                    src='assets/images/icons/heart-1.png'
                    draggable="false">
                </span>
            </td>
        </tr>
    </table>
    <table class="floor">
        <tr *ngFor="let line of [].constructor(gameState.grid.length); let r = index">
            <td
                *ngFor="let cell of [].constructor(gameState.grid[r].length); let c = index">
                <img src='assets/images/sprites/floors/{{floorTiles[r][c]}}.png'>
            </td>
        </tr>
    </table>
</div>